I am still new at this, the code might be difficult to read and grasp

In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
##Loading Data
train = pd.read_csv("train.csv")
campaign = pd.read_csv("campaign_data.csv")
coupon_item_mapping = pd.read_csv("coupon_item_mapping.csv")
demography = pd.read_csv("customer_demographics.csv")
transaction = pd.read_csv("customer_transaction_data.csv")
item = pd.read_csv("item_data.csv")

##Test and Sample Data
test = pd.read_csv("test.csv")
sample = pd.read_csv("sample_submission.csv")

In [3]:
train.shape

(78369, 5)

In [4]:
train.head()

   id  campaign_id  coupon_id  customer_id  redemption_status
0   1           13         27         1053                  0
1   2           13        116           48                  0
2   6            9        635          205                  0
3   7           13        644         1050                  0
4   9            8       1017         1489                  0

In [5]:
len(train.id.unique())

78369

In [6]:
len(train.campaign_id.unique())

18

In [7]:
len(train.coupon_id.unique())

866

In [8]:
len(train.customer_id.unique())

1428

In [9]:
train.redemption_status.unique()

array([0, 1], dtype=int64)

In [10]:
test.shape

(50226, 4)

In [11]:
test.head()

   id  campaign_id  coupon_id  customer_id
0   3           22        869          967
1   4           20        389         1566
2   5           22        981          510
3   8           25       1069          361
4  10           17        498          811

In [12]:
len(test.coupon_id.unique())

331

In [13]:
len(test.campaign_id.unique())

10

In [14]:
campaign.head()

   campaign_id campaign_type start_date  end_date
0           24             Y   21/10/13  20/12/13
1           25             Y   21/10/13  22/11/13
2           20             Y   07/09/13  16/11/13
3           23             Y   08/10/13  15/11/13
4           21             Y   16/09/13  18/10/13

In [15]:
# transaction_item_piv4 = (transaction_item_piv4.pivot_table(index=['customer_id_'], 
#                                                            columns=('brand_', 'variable'),
#                                                            values='value').reset_index())

In [16]:
item_coupon_pivot.head()

NameError: name 'item_coupon_pivot' is not defined

In [17]:
print(len(np.intersect1d(train.campaign_id,campaign.campaign_id)))
print(len(np.intersect1d(train.campaign_id,test.campaign_id)))
print(len(np.intersect1d(test.campaign_id,campaign.campaign_id)))

18
0
10

In [18]:
coupon_item_mapping.shape

(92663, 2)

In [19]:
coupon_item_mapping.head()

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77

In [20]:
for k in coupon_item_mapping.columns:
    print(k,coupon_item_mapping[k].nunique())

coupon_id 1116
item_id 36289

In [21]:
#check for intersection of coupon_id in diff file

In [22]:
demography.shape

(760, 7)

In [23]:
demography.head()

,customer_id,age_range,marital_status,rented,family_size,no_of_children,income_bracket
0,1,70+,Married,0,2,NaN,4
1,6,46-55,Married,0,2,NaN,5
2,7,26-35,NaN,0,3,1,3
3,8,26-35,NaN,0,4,2,6
4,10,46-55,Single,0,1,NaN,5

In [24]:
len(demography.customer_id.unique())

760

In [25]:
print(len(np.intersect1d(train.customer_id,demography.customer_id)))
print(len(np.intersect1d(train.customer_id,test.customer_id)))
print(len(np.intersect1d(test.customer_id,demography.customer_id)))

703
1096
697

In [26]:
demography.age_range.unique()

array(['70+', '46-55', '26-35', '36-45', '18-25', '56-70'], dtype=object)

In [27]:
demography['age_range'] = ['21' if x == '18-25' else x for x in demography['age_range']]
demography['age_range'] = ['30' if x == '26-35' else x for x in demography['age_range']]
demography['age_range'] = ['40' if x == '36-45' else x for x in demography['age_range']]
demography['age_range'] = ['50' if x == '46-55' else x for x in demography['age_range']]
demography['age_range'] = ['63' if x == '56-70' else x for x in demography['age_range']]
demography['age_range'] = ['85' if x == '70+' else x for x in demography['age_range']]
demography["age_range"].fillna(0, inplace = True)
demography['age_range'] = demography['age_range'].astype('int32')

In [28]:
demography.marital_status.unique()

array(['Married', nan, 'Single'], dtype=object)

In [29]:
demography.rented.unique()

array([0, 1], dtype=int64)

In [30]:
demography.no_of_children.unique()

array([nan, '1', '2', '3+'], dtype=object)

In [31]:
demography['no_of_children'] = [3 if x == '3+' else x for x in demography['no_of_children']]
demography["no_of_children"].fillna(0, inplace = True)
demography['no_of_children'] = demography['no_of_children'].astype('int32')

In [32]:
demography.family_size.unique()

array(['2', '3', '4', '1', '5+'], dtype=object)

In [33]:
demography['family_size'] = [5 if x == '5+' else x for x in demography['family_size']]
demography["family_size"].fillna(0, inplace = True)
demography['family_size'] = demography['family_size'].astype('int32')

In [34]:
demography.income_bracket.unique()

array([ 4,  5,  3,  6,  1,  7,  2,  8,  9, 12, 10, 11], dtype=int64)

In [35]:
demography["marital_status"].fillna("Divorced", inplace = True)

In [36]:
transaction.shape

(1324566, 7)

In [37]:
for k in transaction.columns:
    print(k,transaction[k].nunique())

date 549
customer_id 1582
item_id 74063
quantity 9252
selling_price 4923
other_discount 1418
coupon_discount 232

In [38]:
transaction.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [39]:
item.shape

(74066, 4)

In [40]:
item.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [41]:
for k in item.columns:
    print(k,item[k].nunique())

item_id 74066
brand 5528
brand_type 2
category 19

In [42]:
#Checking for null values

In [43]:
train.isnull().sum()

id                   0
campaign_id          0
coupon_id            0
customer_id          0
redemption_status    0
dtype: int64

In [44]:
demography.isnull().sum()

customer_id       0
age_range         0
marital_status    0
rented            0
family_size       0
no_of_children    0
income_bracket    0
dtype: int64

In [45]:
coupon_item_mapping.isnull().sum()

coupon_id    0
item_id      0
dtype: int64

In [46]:
campaign.isnull().sum()

campaign_id      0
campaign_type    0
start_date       0
end_date         0
dtype: int64

In [47]:
item.isnull().sum()

item_id       0
brand         0
brand_type    0
category      0
dtype: int64

In [48]:
##Proceeding to data manipulation part

In [49]:
#combining transaction and item file

In [50]:
transaction.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [51]:
item.head()

   item_id  brand   brand_type       category
0        1      1  Established        Grocery
1        2      1  Established  Miscellaneous
2        3     56        Local         Bakery
3        4     56        Local        Grocery
4        5     56        Local        Grocery

In [52]:
transaction_item = transaction.merge(item, on = 'item_id', how = 'left')

In [53]:
transaction_item['other_discount'] = -transaction_item['other_discount']
transaction_item['coupon_discount'] = -transaction_item['coupon_discount']

In [54]:
transaction_item['coupon_use_flag'] = [1 if x > 0 else 0 for x in transaction_item['coupon_discount']]

In [55]:
transaction_item_agg1 = transaction_item.groupby('customer_id', as_index=False).agg({'quantity': ['sum'],
                                                                     'selling_price' : ['size', 'std', 'mean', 'max', 'min'],
                                                                     'other_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_use_flag' : ['sum']})

In [56]:
transaction_item_agg1.head()

  customer_id quantity selling_price                                          \
                   sum          size         std        mean      max    min
0           1     1227          1048   51.730756   94.001842   445.25  12.11
1           2      474           419   74.357770  102.864033   640.80  14.25
2           3     8163           705   82.299878  103.617404   862.00   8.90
3           4      280           220  199.048691  154.423727  1330.05  14.25
4           5    93353           792  144.009702  130.827146  1485.35  12.11

  other_discount                         coupon_discount                    \
             std       mean     max  min             std      mean     max
0      32.850302  16.250382  372.23 -0.0        9.220383  2.019876  106.86
1      34.832684  16.830430  312.03 -0.0        6.607411  0.595084   89.05
2      39.377713  22.714227  463.06 -0.0       13.677188  3.091546  142.48
3      36.023189  13.305409  390.04 -0.0        6.003750  0.404773   89.05
4      27.829869  13.657917  216.21 -0.0        2.624519  0.114684   71.24

       coupon_use_flag
   min             sum
0 -0.0              78
1 -0.0               4
2 -0.0              53
3 -0.0               1
4 -0.0               2

In [57]:
transaction_item_agg1.shape

(1582, 16)

In [58]:
transaction_item_agg1.columns=['Txn_' + '_'.join(col).strip() for col in transaction_item_agg1.columns.values]
#transaction_item_agg1.reset_index(inplace=True)
transaction_item_agg1['agg1_rate1'] = transaction_item_agg1['Txn_coupon_use_flag_sum']/transaction_item_agg1['Txn_quantity_sum']
transaction_item_agg1['agg1_rate2'] = transaction_item_agg1['Txn_coupon_use_flag_sum']/transaction_item_agg1['Txn_selling_price_size']
transaction_item_agg1['agg1_rate3'] = transaction_item_agg1['Txn_selling_price_size']/transaction_item_agg1['Txn_quantity_sum']
transaction_item_agg1['agg1_rate4'] = transaction_item_agg1['Txn_coupon_discount_mean']/transaction_item_agg1['Txn_selling_price_mean']
transaction_item_agg1.head()

,Txn_customer_id_,Txn_quantity_sum,Txn_selling_price_size,Txn_selling_price_std,Txn_selling_price_mean,Txn_selling_price_max,Txn_selling_price_min,Txn_other_discount_std,Txn_other_discount_mean,Txn_other_discount_max,Txn_other_discount_min,Txn_coupon_discount_std,Txn_coupon_discount_mean,Txn_coupon_discount_max,Txn_coupon_discount_min,Txn_coupon_use_flag_sum,agg1_rate1,agg1_rate2,agg1_rate3,agg1_rate4
0,1,1227,1048,51.730756,94.001842,445.25,12.11,32.850302,16.250382,372.23,-0.0,9.220383,2.019876,106.86,-0.0,78,0.063570,0.074427,0.854116,0.021488
1,2,474,419,74.357770,102.864033,640.80,14.25,34.832684,16.830430,312.03,-0.0,6.607411,0.595084,89.05,-0.0,4,0.008439,0.009547,0.883966,0.005785
2,3,8163,705,82.299878,103.617404,862.00,8.90,39.377713,22.714227,463.06,-0.0,13.677188,3.091546,142.48,-0.0,53,0.006493,0.075177,0.086365,0.029836
3,4,280,220,199.048691,154.423727,1330.05,14.25,36.023189,13.305409,390.04,-0.0,6.003750,0.404773,89.05,-0.0,1,0.003571,0.004545,0.785714,0.002621
4,5,93353,792,144.009702,130.827146,1485.35,12.11,27.829869,13.657917,216.21,-0.0,2.624519,0.114684,71.24,-0.0,2,0.000021,0.002525,0.008484,0.000877

In [59]:
transaction_item_agg2 = transaction_item.groupby(['customer_id', 'category'], as_index=False).agg({'quantity': ['sum'],
                                                                     'selling_price' : ['size', 'std', 'mean', 'max', 'min'],
                                                                     'other_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_use_flag' : ['sum']})
transaction_item_agg2.columns=['_'.join(col).strip() for col in transaction_item_agg2.columns.values]
#transaction_item_agg2=transaction_item_agg2.reset_index(inplace=False)
transaction_item_agg2['agg2_rate1'] = transaction_item_agg2['coupon_use_flag_sum']/transaction_item_agg2['quantity_sum']
transaction_item_agg2['agg2_rate2'] = transaction_item_agg2['coupon_use_flag_sum']/transaction_item_agg2['selling_price_size']
transaction_item_agg2['agg2_rate3'] = transaction_item_agg2['selling_price_size']/transaction_item_agg2['quantity_sum']
transaction_item_agg2['agg2_rate4'] = transaction_item_agg2['coupon_discount_mean']/transaction_item_agg2['selling_price_mean']

#transaction_item_agg2.head()
transaction_item_piv2 = pd.melt(transaction_item_agg2, id_vars =['customer_id_', 'category_'])
transaction_item_piv2 = (transaction_item_piv2.pivot_table(index=['customer_id_'], 
                                                           columns=('category_', 'variable'),
                                                           values='value').reset_index())
transaction_item_piv2.fillna(0, inplace = True)
transaction_item_piv2.columns=['Cat_'+'_'.join(col).strip() for col in transaction_item_piv2.columns.values]
#transaction_item_piv2.reset_index(inplace=False)
transaction_item_piv2.head()

,Cat_customer_id__,Cat_Alcohol_agg2_rate1,Cat_Alcohol_agg2_rate2,Cat_Alcohol_agg2_rate3,Cat_Alcohol_agg2_rate4,Cat_Alcohol_coupon_discount_max,Cat_Alcohol_coupon_discount_mean,Cat_Alcohol_coupon_discount_min,Cat_Alcohol_coupon_discount_std,Cat_Alcohol_coupon_use_flag_sum,...,Cat_Vegetables (cut)_other_discount_max,Cat_Vegetables (cut)_other_discount_mean,Cat_Vegetables (cut)_other_discount_min,Cat_Vegetables (cut)_other_discount_std,Cat_Vegetables (cut)_quantity_sum,Cat_Vegetables (cut)_selling_price_max,Cat_Vegetables (cut)_selling_price_mean,Cat_Vegetables (cut)_selling_price_min,Cat_Vegetables (cut)_selling_price_size,Cat_Vegetables (cut)_selling_price_std
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
transaction_item_agg3 = transaction_item.groupby(['customer_id', 'brand_type'], as_index=False).agg({'quantity': ['sum'],
                                                                     'selling_price' : ['size', 'std', 'mean', 'max', 'min'],
                                                                     'other_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_use_flag' : ['sum']})
transaction_item_agg3.columns=['_'.join(col).strip() for col in transaction_item_agg3.columns.values]

transaction_item_agg3['agg3_rate1'] = transaction_item_agg3['coupon_use_flag_sum']/transaction_item_agg3['quantity_sum']
transaction_item_agg3['agg3_rate2'] = transaction_item_agg3['coupon_use_flag_sum']/transaction_item_agg3['selling_price_size']
transaction_item_agg3['agg3_rate3'] = transaction_item_agg3['selling_price_size']/transaction_item_agg3['quantity_sum']
transaction_item_agg3['agg3_rate4'] = transaction_item_agg3['coupon_discount_mean']/transaction_item_agg3['selling_price_mean']

transaction_item_piv3 = pd.melt(transaction_item_agg3, id_vars =['customer_id_', 'brand_type_'])
transaction_item_piv3 = (transaction_item_piv3.pivot_table(index=['customer_id_'], 
                                                           columns=('brand_type_', 'variable'),
                                                           values='value').reset_index())
transaction_item_piv3.fillna(0, inplace = True)
transaction_item_piv3.columns=['Brand_'+'_'.join(col).strip() for col in transaction_item_piv3.columns.values]
transaction_item_piv3.reset_index(inplace=False)
transaction_item_piv3.head()

,Brand_customer_id__,Brand_Established_agg3_rate1,Brand_Established_agg3_rate2,Brand_Established_agg3_rate3,Brand_Established_agg3_rate4,Brand_Established_coupon_discount_max,Brand_Established_coupon_discount_mean,Brand_Established_coupon_discount_min,Brand_Established_coupon_discount_std,Brand_Established_coupon_use_flag_sum,...,Brand_Local_other_discount_max,Brand_Local_other_discount_mean,Brand_Local_other_discount_min,Brand_Local_other_discount_std,Brand_Local_quantity_sum,Brand_Local_selling_price_max,Brand_Local_selling_price_mean,Brand_Local_selling_price_min,Brand_Local_selling_price_size,Brand_Local_selling_price_std
0,1,0.068844,0.081420,0.845543,0.023232,106.86,2.209635,0.0,9.622418,78.0,...,148.89,23.857333,0.0,30.793432,94.0,213.72,82.166889,18.52,90.0,38.597544
1,2,0.010724,0.012232,0.876676,0.006871,89.05,0.762508,0.0,7.473317,4.0,...,106.15,11.456087,0.0,19.027190,101.0,320.22,74.019783,17.45,92.0,48.886073
2,3,0.050621,0.089376,0.566380,0.034279,142.48,3.675447,0.0,14.842726,53.0,...,281.40,23.009554,0.0,37.447079,7116.0,712.76,84.527500,18.52,112.0,81.982532
3,4,0.004000,0.005208,0.768000,0.002812,89.05,0.463802,0.0,6.426630,1.0,...,53.07,14.233571,0.0,13.094637,30.0,177.74,82.320357,14.25,28.0,34.782552
4,5,0.002430,0.003257,0.746051,0.001099,71.24,0.147932,0.0,2.980488,2.0,...,106.86,10.005449,0.0,18.101806,92530.0,1485.35,117.950281,13.89,178.0,231.692939

In [61]:
transaction_item_agg5 = transaction_item.groupby(['customer_id', 'brand_type', 'category'], as_index=False).agg({'quantity': ['sum'],
                                                                     'selling_price' : ['size', 'std', 'mean', 'max', 'min'],
                                                                     'other_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_discount' : ['std', 'mean', 'max', 'min'],
                                                                     'coupon_use_flag' : ['sum']})
transaction_item_agg5.columns=['_'.join(col).strip() for col in transaction_item_agg5.columns.values]

transaction_item_agg5['agg5_rate1'] = transaction_item_agg5['coupon_use_flag_sum']/transaction_item_agg5['quantity_sum']
transaction_item_agg5['agg5_rate2'] = transaction_item_agg5['coupon_use_flag_sum']/transaction_item_agg5['selling_price_size']
transaction_item_agg5['agg5_rate3'] = transaction_item_agg5['selling_price_size']/transaction_item_agg5['quantity_sum']
transaction_item_agg5['agg5_rate4'] = transaction_item_agg5['coupon_discount_mean']/transaction_item_agg5['selling_price_mean']

transaction_item_piv5 = pd.melt(transaction_item_agg5, id_vars =['customer_id_', 'brand_type_', 'category_'])
transaction_item_piv5 = (transaction_item_piv5.pivot_table(index=['customer_id_'], 
                                                           columns=('brand_type_','category_', 'variable'),
                                                           values='value').reset_index())
transaction_item_piv5.fillna(0, inplace = True)
transaction_item_piv5.columns=['Brand_'+'_'.join(col).strip() for col in transaction_item_piv5.columns.values]
transaction_item_piv5.reset_index(inplace=False)
transaction_item_piv5.head()

,Brand_customer_id___,Brand_Established_Alcohol_agg5_rate1,Brand_Established_Alcohol_agg5_rate2,Brand_Established_Alcohol_agg5_rate3,Brand_Established_Alcohol_agg5_rate4,Brand_Established_Alcohol_coupon_discount_max,Brand_Established_Alcohol_coupon_discount_mean,Brand_Established_Alcohol_coupon_discount_min,Brand_Established_Alcohol_coupon_discount_std,Brand_Established_Alcohol_coupon_use_flag_sum,...,Brand_Local_Skin & Hair Care_other_discount_max,Brand_Local_Skin & Hair Care_other_discount_mean,Brand_Local_Skin & Hair Care_other_discount_min,Brand_Local_Skin & Hair Care_other_discount_std,Brand_Local_Skin & Hair Care_quantity_sum,Brand_Local_Skin & Hair Care_selling_price_max,Brand_Local_Skin & Hair Care_selling_price_mean,Brand_Local_Skin & Hair Care_selling_price_min,Brand_Local_Skin & Hair Care_selling_price_size,Brand_Local_Skin & Hair Care_selling_price_std
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [62]:
# transaction_item_agg4 = transaction_item.groupby(['customer_id', 'brand'], as_index=False).agg({'quantity': ['sum'],
#                                                                      'selling_price' : ['size', 'std', 'mean', 'max', 'min'],
#                                                                      'other_discount' : ['std', 'mean', 'max', 'min'],
#                                                                      'coupon_discount' : ['std', 'mean', 'max', 'min'],
#                                                                      'coupon_use_flag' : ['sum']})
# transaction_item_agg4.columns=['_'.join(col).strip() for col in transaction_item_agg4.columns.values]
# transaction_item_agg4.reset_index(inplace=False)
# transaction_item_agg4.head()
# transaction_item_piv4 = pd.melt(transaction_item_agg4, id_vars =['customer_id_', 'brand_'])
# transaction_item_piv4 = (transaction_item_piv4.pivot_table(index=['customer_id_'], 
#                                                            columns=('brand_', 'variable'),
#                                                            values='value').reset_index())
# transaction_item_piv4.fillna(0, inplace = True)
# transaction_item_piv4.columns=['Br_'+'_'.join(col).strip() for col in transaction_item_piv4.columns.values]
# transaction_item_piv4.reset_index(inplace=False)
# transaction_item_piv4.head()

In [63]:
transaction.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [64]:
campaign = pd.read_csv("campaign_data.csv")

In [65]:
campaign['start_date'] = pd.to_datetime(campaign['start_date'], format='%d/%m/%y')
campaign['end_date'] = pd.to_datetime(campaign['end_date'], format='%d/%m/%y')

In [66]:
campaign['duration'] = (campaign['end_date']-campaign['start_date']).dt.days

In [67]:
campaign['start_month'] = campaign['start_date'].dt.month
campaign['end_month'] = campaign['end_date'].dt.month

In [68]:
campaign['start_date_new'] = (campaign['start_date']-campaign.start_date.min()).dt.days
campaign['end_date_new'] = (campaign['end_date']-campaign.start_date.min()).dt.days

In [69]:
campaign

,campaign_id,campaign_type,start_date,end_date,duration,start_month,end_month,start_date_new,end_date_new
0,24,Y,2013-10-21,2013-12-20,60,10,12,435,495
1,25,Y,2013-10-21,2013-11-22,32,10,11,435,467
2,20,Y,2013-09-07,2013-11-16,70,9,11,391,461
3,23,Y,2013-10-08,2013-11-15,38,10,11,422,460
4,21,Y,2013-09-16,2013-10-18,32,9,10,400,432
5,22,X,2013-09-16,2013-10-18,32,9,10,400,432
6,18,X,2013-08-10,2013-10-04,55,8,10,363,418
7,19,Y,2013-08-26,2013-09-27,32,8,9,379,411
8,17,Y,2013-07-29,2013-08-30,32,7,8,351,383
9,16,Y,2013-07-15,2013-08-16,32,7,8,337,369
10,13,X,2013-05-19,2013-07-05,47,5,7,280,327
11,11,Y,2013-04-22,2013-06-07,46,4,6,253,299
12,12,Y,2013-04-22,2013-05-24,32,4,5,253,285
13,10,Y,2013-04-08,2013-05-10,32,4,5,239,271
14,9,Y,2013-03-11,2013-04-12,32,3,4,211,243
15,8,X,2013-02-16,2013-04-05,48,2,4,188,236
16,7,Y,2013-02-02,2013-03-08,34,2,3,174,208
17,6,Y,2013-01-28,2013-03-01,32,1,3,169,201
18,3,Y,2012-12-22,2013-02-16,56,12,2,132,188
19,5,Y,2013-01-12,2013-02-15,34,1,2,153,187
20,4,Y,2013-01-07,2013-02-08,32,1,2,148,180
21,1,Y,2012-12-12,2013-01-18,37,12,1,122,159
22,2,Y,2012-12-17,2013-01-18,32,12,1,127,159
23,30,X,2012-11-19,2013-01-04,46,11,1,99,145
24,29,Y,2012-10-08,2012-11-30,53,10,11,57,110
25,28,Y,2012-09-16,2012-11-16,61,9,11,35,96
26,27,Y,2012-08-25,2012-10-27,63,8,10,13,76
27,26,X,2012-08-12,2012-09-21,40,8,9,0,40

In [70]:
campaign1 = campaign.drop(['start_date', 'end_date'], axis = 1)

In [71]:
campaign1.head()

,campaign_id,campaign_type,duration,start_month,end_month,start_date_new,end_date_new
0,24,Y,60,10,12,435,495
1,25,Y,32,10,11,435,467
2,20,Y,70,9,11,391,461
3,23,Y,38,10,11,422,460
4,21,Y,32,9,10,400,432

In [72]:
coupon_item = coupon_item_mapping.merge(item, on = 'item_id', how = 'left')

In [73]:
coupon_item.head()

   coupon_id  item_id  brand   brand_type category
0        105       37     56        Local  Grocery
1        107       75     56        Local  Grocery
2        494       76    209  Established  Grocery
3        522       77    278  Established  Grocery
4        518       77    278  Established  Grocery

In [79]:
top_brand = coupon_item.groupby(['coupon_id', 'brand']).size().reset_index(name='counts')
#top_brand['brand'] = ['low' if x < 3  else x for x in top_brand['counts']]
#top_brand['brand'] = ['med' if x > 5 and x <=10 else x for x in top_brand['counts']]
#top_brand = top_brand[top_brand['counts']>0]
ci_1 = pd.pivot_table(top_brand,
                      index=["coupon_id"],
                      columns=["brand"],
                      values=['counts'],
                      aggfunc=[sum],
                      fill_value=0)
ci_1 = ci_1.reset_index()
ci_1.columns=['CouponBrand'+''.join(str(col)).strip() for col in ci_1.columns.values]
ci_1.rename(columns={ ci_1.columns[0]: "coupon_id" }, inplace = True)

In [80]:
ci_1.shape

(1116, 2556)

In [76]:
ci_2 = pd.pivot_table(coupon_item[['coupon_id','brand_type']],
                      index=["coupon_id"],
                      columns=["brand_type"],
                      aggfunc=[len],
                      fill_value=0)
ci_2 = ci_2.reset_index()
ci_2.columns=['CouponBrand'+''.join(col).strip() for col in ci_2.columns.values]
ci_2.rename(columns={ ci_2.columns[0]: "coupon_id" }, inplace = True)

In [77]:
ci_3 = pd.pivot_table(coupon_item[['coupon_id','category']],
                      index=["coupon_id"],
                      columns=["category"],
                      aggfunc=[len],
                      fill_value=0)
ci_3 = ci_3.reset_index()
ci_3.columns=['CouponBrand'+''.join(col).strip() for col in ci_3.columns.values]
ci_3.rename(columns={ ci_3.columns[0]: "coupon_id" }, inplace = True)

In [78]:
rate_1 = train[['coupon_id', 'redemption_status']].groupby(['coupon_id']).agg({"sum", "count"})
rate_1 = rate_1.reset_index()
rate_1.columns=['rate_1_'+''.join(col).strip() for col in rate_1.columns.values]
rate_1.rename(columns={ rate_1.columns[0]: "coupon_id" }, inplace = True)
rate_1['rate_1'] = rate_1['rate_1_redemption_statussum']/rate_1['rate_1_redemption_statuscount']
rate_1 = rate_1[['coupon_id', 'rate_1']]

rate_2 = train[['customer_id', 'redemption_status']].groupby(['customer_id']).agg({"sum", "count"})
rate_2 = rate_2.reset_index()
rate_2.columns=['rate_2_'+''.join(col).strip() for col in rate_2.columns.values]
rate_2.rename(columns={ rate_2.columns[0]: "customer_id" }, inplace = True)
rate_2['rate_2'] = rate_2['rate_2_redemption_statussum']/rate_2['rate_2_redemption_statuscount']
rate_2 = rate_2[['customer_id', 'rate_2']]

In [81]:
cust_item = transaction_item.groupby(['customer_id', 'brand'], as_index=False).agg({'quantity':["count", "nunique"]})
cust_item.columns=['cix1_'.join(col).strip() for col in cust_item.columns.values]
cust_item.rename(columns={ cust_item.columns[0]: "customer_id" }, inplace = True)
cust_item.rename(columns={ cust_item.columns[1]: "brand" }, inplace = True)

brand = item.groupby(['brand'], as_index = False).agg({'item_id':['count']})
brand.columns=['cix1_'.join(col).strip() for col in brand.columns.values]
brand.rename(columns={ brand.columns[0]: "brand" }, inplace = True)

cust_brand = cust_item.merge(brand, on = 'brand', how = 'left')
coupon_item = coupon_item_mapping.merge(item, on = 'item_id', how = 'left')
coupon_brand = coupon_item[['coupon_id', 'brand']].drop_duplicates()

coupon_cust_brand = cust_brand.merge(coupon_brand, on = 'brand', how = 'left')
coupon_cust_brand=coupon_cust_brand.drop(['brand'], axis=1)

cix_1 = coupon_cust_brand.groupby(['customer_id', 'coupon_id'], as_index=False).agg({'mean','sum', 'max', 'min', 'count'})
cix_1.columns=[''.join(col).strip() for col in cix_1.columns.values]
cix_1 = cix_1.reset_index()

In [82]:
cust_item = transaction_item.groupby(['customer_id', 'brand_type'], as_index=False).agg({'quantity':["count", "nunique"]})
cust_item.columns=['cix2_'.join(col).strip() for col in cust_item.columns.values]
cust_item.rename(columns={ cust_item.columns[0]: "customer_id" }, inplace = True)
cust_item.rename(columns={ cust_item.columns[1]: "brand_type" }, inplace = True)

brand = item.groupby(['brand_type'], as_index = False).agg({'item_id':['count']})
brand.columns=['cix2_'.join(col).strip() for col in brand.columns.values]
brand.rename(columns={ brand.columns[0]: "brand_type" }, inplace = True)

cust_brand = cust_item.merge(brand, on = 'brand_type', how = 'left')
coupon_item = coupon_item_mapping.merge(item, on = 'item_id', how = 'left')
coupon_brand = coupon_item[['coupon_id', 'brand_type']].drop_duplicates()

coupon_cust_brand_type = cust_brand.merge(coupon_brand, on = 'brand_type', how = 'left')
coupon_cust_brand_type=coupon_cust_brand_type.drop(['brand_type'], axis=1)

cix_2 = coupon_cust_brand_type.groupby(['customer_id', 'coupon_id'], as_index=False).agg({'mean','sum', 'max', 'min', 'count'})
cix_2.columns=[''.join(col).strip() for col in cix_2.columns.values]
cix_2 = cix_2.reset_index()

In [83]:
cust_item = transaction_item.groupby(['customer_id', 'category'], as_index=False).agg({'quantity':["count", "nunique"]})
cust_item.columns=['cix3_'.join(col).strip() for col in cust_item.columns.values]
cust_item.rename(columns={ cust_item.columns[0]: "customer_id" }, inplace = True)
cust_item.rename(columns={ cust_item.columns[1]: "category" }, inplace = True)

brand = item.groupby(['category'], as_index = False).agg({'item_id':['count']})
brand.columns=['cix3_'.join(col).strip() for col in brand.columns.values]
brand.rename(columns={ brand.columns[0]: "category" }, inplace = True)

cust_brand = cust_item.merge(brand, on = 'category', how = 'left')
coupon_item = coupon_item_mapping.merge(item, on = 'item_id', how = 'left')
coupon_brand = coupon_item[['coupon_id', 'category']].drop_duplicates()

coupon_cust_category = cust_brand.merge(coupon_brand, on = 'category', how = 'left')
coupon_cust_category=coupon_cust_category.drop(['category'], axis=1)

cix_3 = coupon_cust_category.groupby(['customer_id', 'coupon_id'], as_index=False).agg({'mean','sum', 'max', 'min', 'count'})
cix_3.columns=[''.join(col).strip() for col in cix_3.columns.values]
cix_3 = cix_3.reset_index()

In [ ]:
##Combining everything into one file before running the models

In [84]:
df=train.append(test,ignore_index=True, sort=False)
df.shape

(128595, 5)

In [85]:
transaction_item_piv5.head()

,Brand_customer_id___,Brand_Established_Alcohol_agg5_rate1,Brand_Established_Alcohol_agg5_rate2,Brand_Established_Alcohol_agg5_rate3,Brand_Established_Alcohol_agg5_rate4,Brand_Established_Alcohol_coupon_discount_max,Brand_Established_Alcohol_coupon_discount_mean,Brand_Established_Alcohol_coupon_discount_min,Brand_Established_Alcohol_coupon_discount_std,Brand_Established_Alcohol_coupon_use_flag_sum,...,Brand_Local_Skin & Hair Care_other_discount_max,Brand_Local_Skin & Hair Care_other_discount_mean,Brand_Local_Skin & Hair Care_other_discount_min,Brand_Local_Skin & Hair Care_other_discount_std,Brand_Local_Skin & Hair Care_quantity_sum,Brand_Local_Skin & Hair Care_selling_price_max,Brand_Local_Skin & Hair Care_selling_price_mean,Brand_Local_Skin & Hair Care_selling_price_min,Brand_Local_Skin & Hair Care_selling_price_size,Brand_Local_Skin & Hair Care_selling_price_std
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
df=df.merge(transaction_item_agg1, left_on = 'customer_id', right_on = 'Txn_customer_id_', how = 'left')
df=df.merge(transaction_item_piv2, left_on = 'customer_id', right_on = 'Cat_customer_id__', how = 'left')
df=df.merge(transaction_item_piv3, left_on = 'customer_id', right_on = 'Brand_customer_id__', how = 'left')
df=df.merge(transaction_item_piv5, left_on = 'customer_id', right_on = 'Brand_customer_id___', how = 'left')
df=df.merge(campaign1, on = 'campaign_id', how = 'left')
#df=df.merge(demography, on = 'customer_id', how = 'left')
df.shape

(128595, 1054)

In [87]:
df["age_range"].fillna(0, inplace = True)
df["marital_status"].fillna(0, inplace = True)
df["rented"].fillna(2, inplace = True)
df["family_size"].fillna(1, inplace = True)
df["no_of_children"].fillna(0, inplace = True)
df["income_bracket"].fillna(0, inplace = True)

KeyError: 'age_range'

In [88]:
df.shape

(128595, 1054)

In [89]:
df=df.merge(ci_1, on = 'coupon_id', how = 'left')
df=df.merge(ci_2, on = 'coupon_id', how = 'left')
df=df.merge(ci_3, on = 'coupon_id', how = 'left')

In [90]:
df.shape

(128595, 3628)

In [91]:
df=df.merge(cix_1, on = ['coupon_id', 'customer_id'], how = 'left')
df=df.merge(cix_2, on = ['coupon_id', 'customer_id'], how = 'left')
df=df.merge(cix_3, on = ['coupon_id', 'customer_id'], how = 'left')

In [ ]:
#df=df.merge(rate_1, on = 'coupon_id', how = 'left')
#df=df.merge(rate_2, on = 'customer_id', how = 'left')

In [92]:
df_Y = df['redemption_status']

In [93]:
df = df.replace(np.nan,0)

In [94]:
df['redemption_status'] = df_Y

In [95]:
#df['age_range']=df['age_range'].astype('category')
#df['marital_status']=df['marital_status'].astype('category')
#df['rented']=df['rented'].astype('category')
#df['family_size']=df['family_size'].astype('category')
#df['no_of_children']=df['no_of_children'].astype('category')
#df['income_bracket']=df['income_bracket'].astype('category')
df['campaign_type']=df['campaign_type'].astype('category')
#df['start_month']=df['start_month'].astype('category')
#df['end_month']=df['end_month'].astype('category')
#df['campaign_id']=df['campaign_id'].astype('category')
#df['coupon_id']=df['coupon_id'].astype('category')
#df['customer_id']=df['customer_id'].astype('category')

In [96]:
df.shape

(128595, 3673)

In [97]:
df.head()

,id,campaign_id,coupon_id,customer_id,redemption_status,Txn_customer_id_,Txn_quantity_sum,Txn_selling_price_size,Txn_selling_price_std,Txn_selling_price_mean,...,quantitycix3_nuniquemax,quantitycix3_nuniquemean,quantitycix3_nuniquecount,quantitycix3_nuniquesum,quantitycix3_nuniquemin,item_idcix3_countmax,item_idcix3_countmean,item_idcix3_countcount,item_idcix3_countsum,item_idcix3_countmin
0,1,13,27,1053,0.0,1053,105551,310,416.855097,184.260484,...,6.0,6.0,1.0,6.0,6.0,32448.0,32448.0,1.0,32448.0,32448.0
1,2,13,116,48,0.0,48,12143,385,400.182502,234.247013,...,8.0,8.0,1.0,8.0,8.0,32448.0,32448.0,1.0,32448.0,32448.0
2,6,9,635,205,0.0,205,1351,970,98.143684,121.094495,...,3.0,3.0,1.0,3.0,3.0,24471.0,24471.0,1.0,24471.0,24471.0
3,7,13,644,1050,0.0,1050,306,237,91.578746,98.276034,...,4.0,4.0,1.0,4.0,4.0,32448.0,32448.0,1.0,32448.0,32448.0
4,9,8,1017,1489,0.0,1489,139063,562,174.457319,120.636103,...,9.0,9.0,1.0,9.0,9.0,32448.0,32448.0,1.0,32448.0,32448.0

In [98]:
df_train=df[df['redemption_status'].isnull()==False].copy()
df_test=df[df['redemption_status'].isnull()==True].copy()

print(df_train.shape,df_test.shape)

(78369, 3673) (50226, 3673)

In [ ]:
##Here we run the model

In [99]:
import gc
gc.collect()

397

In [100]:
from catboost import CatBoostClassifier,Pool, cv
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold,train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score

In [101]:
sample.head()

   id  redemption_status
0   3                  0
1   4                  0
2   5                  0
3   8                  0
4  10                  0

In [102]:
X,Y=df_train.drop(['id','redemption_status'],axis=1),df_train['redemption_status']
Xtest=df_test.drop(['id','redemption_status'],axis=1)

print(X.shape,Xtest.shape)
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.25,random_state = 1994,stratify=Y)

(78369, 3671) (50226, 3671)

In [103]:
train['redemption_status'].value_counts()/train.shape[0]

0    0.990698
1    0.009302
Name: redemption_status, dtype: float64

In [104]:
X.isnull().sum()

campaign_id                         0
coupon_id                           0
customer_id                         0
Txn_customer_id_                    0
Txn_quantity_sum                    0
Txn_selling_price_size              0
Txn_selling_price_std               0
Txn_selling_price_mean              0
Txn_selling_price_max               0
Txn_selling_price_min               0
Txn_other_discount_std              0
Txn_other_discount_mean             0
Txn_other_discount_max              0
Txn_other_discount_min              0
Txn_coupon_discount_std             0
Txn_coupon_discount_mean            0
Txn_coupon_discount_max             0
Txn_coupon_discount_min             0
Txn_coupon_use_flag_sum             0
agg1_rate1                          0
agg1_rate2                          0
agg1_rate3                          0
agg1_rate4                          0
Cat_customer_id__                   0
Cat_Alcohol_agg2_rate1              0
Cat_Alcohol_agg2_rate2              0
Cat_Alcohol_agg2_rate3              0
Cat_Alcohol_agg2_rate4              0
Cat_Alcohol_coupon_discount_max     0
Cat_Alcohol_coupon_discount_mean    0
                                   ..
quantitycix2_countmax               0
quantitycix2_countmean              0
quantitycix2_countcount             0
quantitycix2_countsum               0
quantitycix2_countmin               0
quantitycix2_nuniquemax             0
quantitycix2_nuniquemean            0
quantitycix2_nuniquecount           0
quantitycix2_nuniquesum             0
quantitycix2_nuniquemin             0
item_idcix2_countmax                0
item_idcix2_countmean               0
item_idcix2_countcount              0
item_idcix2_countsum                0
item_idcix2_countmin                0
quantitycix3_countmax               0
quantitycix3_countmean              0
quantitycix3_countcount             0
quantitycix3_countsum               0
quantitycix3_countmin               0
quantitycix3_nuniquemax             0
quantitycix3_nuniquemean            0
quantitycix3_nuniquecount           0
quantitycix3_nuniquesum             0
quantitycix3_nuniquemin             0
item_idcix3_countmax                0
item_idcix3_countmean               0
item_idcix3_countcount              0
item_idcix3_countsum                0
item_idcix3_countmin                0
Length: 3671, dtype: int64

In [105]:
err=[]
Y_pred_tot=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]
    m=LGBMClassifier(n_estimators=3000,random_state=1994,learning_rate=0.03,
                     colsample_bytree=0.2,objective='binary',
                     scale_pos_weight=1)
    m.fit(X_train,Y_train,eval_set=[(X_test, Y_test)],eval_metric='auc', early_stopping_rounds=200,verbose=200)
    preds=m.predict_proba(X_test)[:,-1]
    print("err: ",roc_auc_score(Y_test,preds))
    err.append(roc_auc_score(Y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    Y_pred_tot.append(p)

Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.977379	valid_0's binary_logloss: 0.0262779
Early stopping, best iteration is:
[172]	valid_0's auc: 0.977098	valid_0's binary_logloss: 0.0262628
err:  0.9770983746550641
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.969829	valid_0's binary_logloss: 0.0292846
Early stopping, best iteration is:
[168]	valid_0's auc: 0.969358	valid_0's binary_logloss: 0.029171
err:  0.9693580487391755
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.979408	valid_0's binary_logloss: 0.0262076
Early stopping, best iteration is:
[143]	valid_0's auc: 0.979681	valid_0's binary_logloss: 0.0263312
err:  0.9796814239235531
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.983803	valid_0's binary_logloss: 0.0238237
Early stopping, best iteration is:
[193]	valid_0's auc: 0.983879	valid_0's binary_logloss: 0.0238166
err:  0.9838788789848475
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.973674	valid_0's binary_logloss: 0.0265333
[400]	valid_0's auc: 0.97381	valid_0's binary_logloss: 0.0273929
Early stopping, best iteration is:
[229]	valid_0's auc: 0.974314	valid_0's binary_logloss: 0.0264481
err:  0.9743141863041929
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.976994	valid_0's binary_logloss: 0.0276868
Early stopping, best iteration is:
[149]	valid_0's auc: 0.976973	valid_0's binary_logloss: 0.0276258
err:  0.976973103823054
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.97556	valid_0's binary_logloss: 0.0282175
Early stopping, best iteration is:
[167]	valid_0's auc: 0.975756	valid_0's binary_logloss: 0.0280094
err:  0.9757556830612663
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.98173	valid_0's binary_logloss: 0.0258153
[400]	valid_0's auc: 0.981428	valid_0's binary_logloss: 0.0268488
Early stopping, best iteration is:
[210]	valid_0's auc: 0.981869	valid_0's binary_logloss: 0.025724
err:  0.9818692525389399
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.983664	valid_0's binary_logloss: 0.0252002
[400]	valid_0's auc: 0.982894	valid_0's binary_logloss: 0.026557
Early stopping, best iteration is:
[209]	valid_0's auc: 0.983838	valid_0's binary_logloss: 0.0251493
err:  0.9838382982927879
Training until validation scores don't improve for 200 rounds.
[200]	valid_0's auc: 0.976168	valid_0's binary_logloss: 0.0244807
Early stopping, best iteration is:
[182]	valid_0's auc: 0.976741	valid_0's binary_logloss: 0.0243972
err:  0.9767409410956552

In [106]:
np.mean(err,0)
#0.9777832375472167
#0.9769
#0.999698205224103

0.9779508191418538

In [107]:
sample['redemption_status']=np.mean(Y_pred_tot,0)
sample.head()

   id  redemption_status
0   3           0.157924
1   4           0.008919
2   5           0.000120
3   8           0.000068
4  10           0.000506

In [108]:
sample.to_csv('AV_Amex_trial_day6_9.csv', index = False)
#sample.shape

In [109]:
samplex = sample

In [110]:
samplex['redemption_status'] = [0 if x <0.0005 else x for x in samplex['redemption_status']]
#samplex['redemption_status'] = [2*x if x >0.1 else x for x in samplex['redemption_status']]
#samplex['redemption_status'] = [1 if x >=1 else x for x in samplex['redemption_status']]

In [111]:
samplex.to_csv('AV_Amex_trial_day6_10.csv', index = False)

In [ ]:
.c

In [ ]:
t1 = df_test

In [ ]:
t1['redemption_status'] = np.mean(Y_pred_tot,0)

In [ ]:
print(t1.shape)
print(sample.shape)

In [ ]:
t2 = t1.groupby(['id'], as_index=False).agg({'redemption_status':["mean"]})
t2.columns=['_'.join(col).strip() for col in t2.columns.values]
t2.rename(columns={ t2.columns[0]: "id" }, inplace = True)
t2.rename(columns={ t2.columns[1]: "redemption_status" }, inplace = True)

In [ ]:
t2.shape

In [ ]:
#for ratio calculation= sample['redemption_status']

In [ ]:
t2.to_csv('AV_Amex_trial_day6_4.csv', index = False)
#sample.shape

In [ ]:
#add 1-5 and 5-10 bucket in ci_1

In [ ]:
d = 0.5
e = 0.8
f = 0.9

In [ ]:
###Here we are running the model using CatBoost

In [ ]:
X['campaign_id']=X['campaign_id'].astype('category')
X['coupon_id']=X['coupon_id'].astype('category')
X['customer_id']=X['customer_id'].astype('category')

In [ ]:
print(X.shape,Xtest.shape)
X_train,X_val,Y_train,Y_val = train_test_split(X,Y,test_size=0.25,random_state = 1994,stratify=Y)
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices

In [ ]:
m=CatBoostClassifier(n_estimators=2500,random_state=1994,learning_rate=0.03,eval_metric='AUC')
m.fit(X_train,Y_train,eval_set=[(X_val, Y_val.values)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
p=m.predict_proba(X_val)[:,-1]
print(roc_auc_score(Y_val,p))

In [ ]:
errCB=[]
Y_pred_tot_cb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]
    m=CatBoostClassifier(n_estimators=2500,random_state=1994,eval_metric='AUC',learning_rate=0.03)
    m.fit(X_train,Y_train,eval_set=[(X_test, Y_test)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_cb: ",roc_auc_score(Y_test,preds))
    errCB.append(roc_auc_score(Y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    Y_pred_tot_cb.append(p)

In [ ]:
np.mean(errCB,0)

In [ ]:
sample['redemption_status']=np.mean(Y_pred_tot_cb,0)*0.4 + np.mean(Y_pred_tot,0)*0.6
sample.head()

In [ ]:
sample.to_csv('AV_Amex_trial_day5_10.csv', index = False)
sample.shape

In [ ]:
len(np.mean(Y_pred_tot_cb,0))

In [ ]:
Demo_Output = pd.DataFrame({'id': Y_id, 'demo_status' : np.mean(Y_pred_tot_cb,0)}, columns=['id', 'demo_status'])
##Merging two outputs together and finding a combined result
sample1 = sample.merge(Demo_Output, on = 'id', how = 'left')
sample1.head()
sample1["demo_status"].fillna(0, inplace = True)
sample1['new'] = 0.7*sample1.redemption_status+0.3*sample1.demo_status
sample1['redemption_status'] = np.where(sample1.demo_status == 0, sample1.redemption_status, sample1.new)
sample1 = sample1.drop(['demo_status','new'],axis=1)
sample1.to_csv('AV_Amex_trial_cb1.csv', index = False)
sample1.shape

In [ ]:
err=[]
Y_pred_tot=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y.iloc[train_index], Y.iloc[test_index]
    m=LGBMClassifier(n_estimators=3000,random_state=1994,learning_rate=0.03,colsample_bytree=0.2,objective='binary',scale_pos_weight=1)
    m.fit(X_train,Y_train,eval_set=[(X_test, Y_test)],eval_metric='auc', early_stopping_rounds=200,verbose=200)
    preds=m.predict_proba(X_test)[:,-1]
    print("err: ",roc_auc_score(Y_test,preds))
    err.append(roc_auc_score(Y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    Y_pred_tot.append(p)

In [ ]:
np.mean(err,0)

In [ ]:
len(np.mean(Y_pred_tot,0))

In [ ]:
Demo_Output = pd.DataFrame({'id': Y_id, 'demo_status' : np.mean(Y_pred_tot,0)}, columns=['id', 'demo_status'])

In [ ]:
##Merging two outputs together and finding a combined result

In [ ]:
sample1 = sample.merge(Demo_Output, on = 'id', how = 'left')

In [ ]:
sample1.head()

In [ ]:
sample1["demo_status"].fillna(0, inplace = True)

In [ ]:
sample1['new'] = 1*sample1.redemption_status+0.05*sample1.demo_status

In [ ]:
sample1['redemption_status'] = np.where(sample1.demo_status == 0, sample1.redemption_status, sample1.new)

In [ ]:
sample.head()

In [ ]:
sample1 = sample1.drop(['demo_status','new'],axis=1)

In [ ]:
sample1.redemption_status.max()

In [ ]:
sample1.to_csv('AV_Amex_trial5.csv', index = False)
sample1.shape

In [ ]:
categorical_features_indices = np.where(X_train.dtypes =='category')[0]
categorical_features_indices

In [ ]:
m=CatBoostClassifier(n_estimators=2500,random_state=1994,learning_rate=0.03,eval_metric='AUC')
m.fit(X_train,Y_train,eval_set=[(X_val, Y_val.values)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
p=m.predict_proba(X_val)[:,-1]

In [ ]:
print(roc_auc_score(Y_val,p))

In [ ]:
X_test.isnull().sum()

In [ ]:
errCB=[]
Y_pred_tot_cb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]

In [ ]:
errCB=[]
Y_pred_tot_cb=[]
from sklearn.model_selection import KFold,StratifiedKFold
fold=StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i=1
for train_index, test_index in fold.split(X,Y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    Y_train, Y_test = Y[train_index], Y[test_index]
    m=CatBoostClassifier(n_estimators=2500,random_state=1994,eval_metric='AUC',learning_rate=0.03)
    m.fit(X_train,Y_train,eval_set=[(X_test, Y_test)], early_stopping_rounds=200,verbose=200,cat_features=categorical_features_indices)
    preds=m.predict_proba(X_test)[:,-1]
    print("err_cb: ",roc_auc_score(Y_test,preds))
    errCB.append(roc_auc_score(Y_test,preds))
    p = m.predict_proba(Xtest)[:,-1]
    i=i+1
    Y_pred_tot_cb.append(p)